.lit1 {
    height: 100px;
    width: 700px;
    background-color: gold;    
}

.lit2 {
    height: 100px;
    width: 700px;
    background-color: darkgreen;
}

.lit3 {
    height: 100px;
    width: 700px;
    background-color: darkred;
}

.pol1{
    height: 100px;
    width: 700px;
    background-color: white;
    margin:5em;
    border-color: black;
    
}

.pol2 {
    height: 100px;
    width: 700px;
    background-color: darkred;
    margin:5cqb;
    
}

.bangladesh{
    background-color:darkgreen
    widht:100px
    wei
}
